[2017-06-07 09:00] kakawait opened #1 "CAS auth override management security"

[2017-06-07 09:34] #1 closed

[2017-06-23 08:34] Panmax opened #2 "CAN NOT Single Logout"
when i logout in CAS, my client not logout.

[2017-06-23 08:40] Panmax opened #3 "i got status=401 when i use resolution-mode: dynamic"
![image](https://user-images.githubusercontent.com/3353761/27473690-93452778-5832-11e7-9e8e-1eb536fc9638.png)

but static mode is ok.

[2017-06-23 09:22] kakawait commented on #3
@Panmax Thank you for feedback, can you please share with me your configuration file?

[2017-06-23 09:24] kakawait commented on #2
@Panmax Thank you for feedback, I may missing configure SSOut. I will check that.

[2017-06-26 11:11] Panmax commented on #3
this is my config file:

[code]

and there is no error log in terminal.

[2017-06-26 11:14] Panmax commented on #2
my be it because spring-security CSRF protect.

[2017-06-26 11:28] kakawait commented on #2
@Panmax yes nice catch

[code]

I will fix that

[2017-06-26 12:31] #2 closed

[2017-06-26 12:58] kakawait commented on #3
In fact it's more an issue with `static` mode which does not compute URL correctly

[code]

Check `pgtUrl` parameter is not a valid url, thus is _disabling_ pgt callback.

I think when fixed you will have same problem with `static` and `dynamic`.

---

Does your CAS server is able to contact your service, during PGT callback process?

[2017-06-26 13:39] kakawait commented on #3
@Panmax When `0.1.2` will be released can you please upgrade your configuration like following:

[code]

[2017-06-26 13:40] Panmax commented on #3
ok, i will try. thank you.

[2017-06-26 13:41] kakawait commented on #3
I will release it in 5min (+ time to maven central to be fresh)

[2017-06-26 13:41] Panmax commented on #3
i am a CAS new user, i don't know what's PGT callback process.

[2017-06-26 13:44] Panmax commented on #3
My CAS config :

[code]

[2017-06-26 13:53] kakawait commented on #3
@Panmax Unfortunately I'm most a CAS client user than CAS server power user so I can't help you with CAS server configuration.

About _proxy callback_ you may find some useful information here https://wiki.jasig.org/display/CAS/Proxy+CAS+Walkthrough

But to summaries, when client validate the ticket using `/serviceValidate` or `/proxyValidate` API if you add `pgtUrl` as parameter (see [specificati

[2017-06-26 13:57] Panmax commented on #3
i understood, thank you very much.

[2017-06-26 13:57] kakawait commented on #3
@Panmax After more thinking I will change configuration, I will delete `proxy-callback-enabled` property instead I will do other way. I will keep you in touch

[2017-06-26 13:59] Panmax commented on #3
👌🏻

[2017-06-26 14:17] Panmax commented on #3
i upgrade to 0.1.2 but when i visit my site, it doesn't redirect to CAS login page, but shows Hello anonymous.

[2017-06-26 14:18] kakawait commented on #3
Artifact is not yet upload. I think maven simply just not find the artifact that has disable starter since maven can't fetch it

[2017-06-26 14:19] Panmax commented on #3
alright😂

[2017-06-26 14:21] #3 closed

[2017-06-26 14:22] kakawait commented on #3
@Panmax with this new `PR` you will no need to change your initial configuration, so please keep

[code]

[2017-06-26 14:26] kakawait commented on #3
@Panmax Just deploy to maven central, you should now use `0.1.2` version

[2017-06-26 14:49] kakawait opened #8 "Upgrade to Spring boot 1.5.4"

[2017-06-26 14:50] kakawait opened #9 "Take Spring boot security properties in consideration"
properties like

[code]

[2017-06-27 01:59] Panmax opened #10 "logout url is invalid"
when i visit my application's `/logout` url, it raise 404 error.

![image](https://user-images.githubusercontent.com/3353761/27567565-2d547154-5b1f-11e7-9714-aca08f01c8ae.png)

this is the configuration：

[code]

BTW. **dynamic** resolution mode is OK.

[2017-06-27 06:30] kakawait commented on #10
Thank you for reporting @Panmax I configured _single sign out_ filter but I think I have to configure _normal sign out_ filter :)

[2017-06-27 12:20] #10 closed

[2017-06-27 12:23] kakawait commented on #10
@Panmax when `0.2.0` will be released you can add following configuration to fix your issue with _logout`:

https://github.com/kakawait/cas-security-spring-boot-starter/blob/master/cas-security-spring-boot-sample/src/main/java/com/kakawait/CasSecuritySpringBootSampleApplication.java#L46

In addition, please checkout new [_README.md_](https://github.com/kakawait/cas-security-spring-boot-starter/blo

[2017-06-27 12:30] #9 closed

[2017-06-27 12:33] #8 closed

[2017-06-28 12:03] coskundeniz89 opened #14 "Using rest api error."
Hi. Thank you for this project. It is best for cas auto config. But i have a little problem.

I did a cas-client project with gradle and it looks like good. My application.yml is that:
[code]
Cas server runs on 10100 port. The client web project works good. But i want to access controller to through get and post method.

I try that: (i use postman)

1. step :
[code]
1. step result:
Body (html form

[2017-06-28 12:11] kakawait commented on #14
@coskundeniz89 Thank you for feedback. Btw I'm currently working on way to get different configuration between UI page and API (UI may want to be redirect to CAS if not auth where API may only want to return 401).

But I will check your use case first because is normal scenario that should work.

[2017-06-28 12:26] coskundeniz89 commented on #14
You're welcome @kakawait . I think UI hasn't got any problem.

I was not login.

- I direct enter "https://localhost:8443/protected" url to browser.
- Client redirect me to "https://localhost:10100/cas/login?service=https%3A%2F%2Flocalhost%3A8443%2Flogin" (Maybe you are talking about this. It redirect me to /login)
- I enter cas username and password.
- Cas redirect to me again "https://localhost:

[2017-06-28 16:40] #14 closed

[2017-06-28 16:42] kakawait commented on #14
@coskundeniz89 It should now work, please wait release `0.2.1` to be upload to central maven

[2017-06-28 16:44] kakawait opened #17 "Revamp pom.xml to remove common parent"

[2017-06-28 16:45] kakawait opened #18 "Prototype API with different entrypoint than UI path"

[2017-06-28 16:48] kakawait opened #19 "Capacity to configure ProxyList for ProxyTicketValidator"

[2017-06-28 16:55] kakawait opened #20 "Alternative storage for pgt"
- [x] In-memory
- [ ] Database (JDBC?)
- [ ] Redis

And prototype/sample to change it and test with existing one:

- https://github.com/apereo/java-cas-client/tree/master/cas-client-support-distributed-memcached
- https://github.com/apereo/java-cas-client/tree/master/cas-client-support-distributed-ehcache

[2017-06-28 16:56] coskundeniz89 commented on #14
Ok @kakawait . Thanks for your help.

[2017-06-28 16:57] kakawait commented on #14
@coskundeniz89 release was upload 2 min ago, you should try it. Please re-open issue or create new one if any issue

[2017-06-29 02:36] Panmax commented on #10
😄

[2017-06-29 06:23] kakawait opened #21 "Javadoc"

[2017-06-29 15:01] kakawait opened #22 "Fix custom logout sample"

[2017-06-30 15:25] kakawait opened #25 "Create configurer method for TokenValidator"

[2017-07-03 11:46] kakawait commented on #25
Fixes by https://github.com/kakawait/cas-security-spring-boot-starter/pull/26

[2017-07-03 11:55] #22 closed

[2017-07-03 11:55] #17 closed

[2017-07-03 11:55] #18 closed

[2017-07-03 11:55] #19 closed

[2017-07-03 11:56] #25 closed

[2017-07-10 13:20] kakawait opened #30 "Upgrade dependencies"
And thinking about removing `Hibernate Validator`

[2017-07-10 13:25] kakawait opened #31 "RestTemplate integration"

[2017-07-10 13:29] kakawait opened #32 "Support Spring boot 2.0"
Need to tests (help wanted) I even didn't try, it may already work (but I got some doubt)

[2017-07-10 14:43] kakawait commented on #31
Related issue on _Spring Jira_ https://jira.spring.io/browse/SPR-15754

[2017-07-10 15:57] kakawait opened #33 "Rename package com.kakawait.spring.boot.security.cas to com.kakawait.spring.boot.security.cas.autoconfigure"

[2017-07-10 16:29] kakawait opened #34 "Relocate cas-security-dynamic-service-resolver to spring-cas-security-extension"
Need for #31

Module will be deprecated and remove for milestone [1.0.0](https://github.com/kakawait/cas-security-spring-boot-starter/milestone/9)

[2017-07-10 16:30] kakawait opened #35 "Remove cas-security-dynamic-service-resolver module"
related to #34

[2017-07-26 14:04] kakawait opened #41 "DefaultProxyCallbackAndServiceAuthenticationDetails does not consider query string"

[2017-07-26 14:23] #34 closed

[2017-07-26 14:23] #41 closed

[2017-07-26 14:55] kakawait opened #44 "Empty query string generate trailing "?""

[2017-07-26 15:14] #44 closed

[2017-08-04 06:17] javasenior opened #51 "Dockerize project"
Could you dockerize project?

[2017-08-04 06:22] coskundeniz89 opened #52 "Login redirect"
Hi @kakawait. You published new version. But there is a same bug again. When you done #14 issue it was fixed. There is also the same error in UI. Could you fix this? I think you must not to redirect login page. Maybe you can add a property to config for login page.

[2017-08-04 17:36] kakawait commented on #51
@javasenior could you elaborate more on what do you want to dockerize since _cas security spring boot starter_ is a library not an application. Maybe the sample demo?

[2017-08-04 17:48] kakawait commented on #52
@coskundeniz89 I'm not sure to understand because I tried both scenario using [sample project]() and I don't have any issue related to #14 scenario.

What I tried:

1. Get a `TGT` using following CAS api

[code]

2. Then ask a service ticket for my service `http://localhost:8080/api`

[code]

3. Call service using the previous _service ticket_

[code]

Then after 302 to `http://locahost:8080/api`

[2017-08-07 08:24] coskundeniz89 commented on #52
Hi @kakawait , i think i cant understand this problem. I havent got a problem for rest login it works. But I have problem with browser login. I do this steps:

1. I enter "**https://localhost:8443/protected**" url to browser.
2. After i redirected to "**https://localhost:10100/cas/login?service=https%3A%2F%2Flocalhost%3A8443%2Flogin**" url
3. I enter correct username and password.
4. Cas redirect

[2017-08-07 08:25] coskundeniz89 commented on #52
And you can see this project.
https://github.com/coskundeniz89/my-cas-client

[2017-08-07 11:39] javasenior commented on #51
Yes, not for the whole project but a sample demo for _cas-security-spring-boot-sample_ will be helpful.

[2017-08-11 09:46] kakawait commented on #52
I'm currently out of computer & internet. I will check it as soon I can get both. Please be patient or downgrade version

[2017-08-11 13:58] coskundeniz89 commented on #52
I think you can do your configuration like unicon. Base-url can change for environment and you should not interfere "login" and other urls. If you can do this, #51 issue will also be fixed.

security.cas.server-url-prefix=https://cashost.com/cas
security.cas.server-login-url=https://cashost.com/cas/login
security.cas.client-host-url=https://casclient.com

[2017-08-17 06:09] coskundeniz89 commented on #52
Hi @kakawait . I removed security.cas.paths from yml. It is work now. It doesnt redirect to login url (ui and rest).

[2017-08-17 06:09] #52 closed

[2017-08-17 06:13] coskundeniz89 opened #53 "PGT ticket"
Hi @kakawait . I set security.cas.service.path.proxy-callback= /j_spring_cas_security_proxyreceptor. After this my app throw this

`There was an unexpected error (type=Unauthorized, status=401).
Authentication Failed: The supplied proxy callback url 'https://localhost:8443/j_spring_cas_security_proxyreceptor' could not be authenticated. Either 'https://localhost:8443/j_spring_cas_security_proxyrec

[2017-08-17 06:15] coskundeniz89 commented on #51
I think it must be like this. https://github.com/kakawait/cas-security-spring-boot-starter/issues/52#issuecomment-321819807

[2017-08-17 09:35] kakawait commented on #53
It seems that your CAS server is not able to reach https://localhost:8443/j_spring_cas_security_proxyreceptor.

Does your CAS server is on same machine (and not inside VM or container) ?

[2017-08-18 14:20] coskundeniz89 commented on #53
Yes you are true. I tried this without container, pgt work. But what is problem, i cant understand.

[2017-08-18 18:02] kakawait commented on #53
CAS protocol defined that to send `PGT` CAS server call (!= respond to request) client, that means CAS server will create http connection using it's own http client to send `PGT` to the URL defined in _proxy callback_. But your proxy callback, if you don't change default conf, will be on `localhost` since you're connecting to your service with `https://localhost:8443`. But `localhost` inside CAS s

[2017-08-18 18:07] coskundeniz89 commented on #53
Ok I understand @kakawait thanks for everything.

[2017-08-18 18:07] #53 closed

[2017-08-18 18:11] kakawait commented on #53
I will add more doc when I will provided docker sample

[2017-08-22 14:14] kakawait commented on #30
closed by #55

[2017-08-22 14:14] #30 closed

[2017-08-23 16:29] kakawait opened #57 "Automatically add `login-path` path inside path to be handle by cas filter"
With following conf:

[code]

Auth does not work anymore because `/login` is not treated by _CAS filters_

**Workaroud**

[code]

[2017-08-30 13:30] #51 closed

[2017-08-30 13:30] #57 closed

[2017-12-27 07:57] liyiorg opened #67 "How configuration path roles CustomCasSecurityConfiguration HttpSecurity"
hello,I want configuration path authorize must has role! I override  method configure(HttpSecurity http),
User login and have roles  'A' ,  but  the user can access any paths!

thanks!

[code]

spring boot start log
[code]

[2017-12-27 08:55] kakawait commented on #67
@liyiorg thank you for reporting i will check that asap but I'm currently on vacation. So I'm not sure to do something before January. Sorry

[2018-01-04 10:13] kakawait commented on #67
@liyiorg I fixed something on _develop_ branch. I will push asap `0.6.1-SNAPSHOT` on maven central (I will say you when it will be available) in order to test the fix if you're ok.

[2018-01-05 04:30] liyiorg commented on #67
@kakawait  I change project dependency to 0.6.1-SNAPSHOT,Test in two ways.
user list
* usera  has roles A
* userb  has roles B

Cas client service config
[code]

## test 1
use @Secured annotation,it's work ok.
The user "usera" only access path /testa .
The user "userb" only access path /testb.

[code]

## test 2
Override method configure(HttpSecurity http) and remove @Secured annotation.

The user

[2018-01-05 07:03] kakawait commented on #67
@liyiorg you said

And it works without any other operations? Because you have to add snapshot repository or `mvn clean install` project in _develop_ branch.

I asking, I'm not able to reproduce. (Just I don't use `security.cas.user.roles-attribute.roles` I will try with that asap)

[2018-01-05 07:25] liyiorg opened #70 "GrantedAuthoritiesFromAssertionAttributesWithDefaultRolesUserDetailsService roles String[] data"
The user "userc" has two role "a" and "c" with CAS ticket  back data  <roles>[a,c]</roles>,but the GrantedAuthoritiesFromAssertionAttributesWithDefaultRolesUserDetailsService set user roles
"ROLE_USER" and "ROLE_[a,c]" .

How can I define the returned XML data field to support Collection?
Or improve GrantedAuthoritiesFromAssertionAttributesWithDefaultRolesUserDetailsService support
"[ROLE_A,ROLE_B

[2018-01-05 07:37] kakawait commented on #70
From what I read here

https://groups.google.com/forum/#!topic/jasig-cas-user/Ir9rcCuPgz4
https://issues.jasig.org/browse/CAS-1283

It seems that XML should be more like

[code]

But even with that format I not sure that `GrantedAuthoritiesFromAssertionAttributesWithDefaultRolesUserDetailsService` will work.

Anyway you can define your own `AbstractCasAssertionUserDetailsService` by creating a bea

[2018-01-08 06:56] #70 closed

[2018-01-08 07:47] kakawait commented on #70
@liyiorg what did you do finaly to  solve your issue?

[2018-01-08 07:49] kakawait commented on #67
@liyiorg could you please tell me how do you upgrade to `0.6.1-SNAPSHOT`? It may missing something

[2018-01-08 10:37] liyiorg commented on #67
@kakawait , 0.6.1-SNAPSHOT run ok.
 thank you very much for your support and the unselfish contribution of open source!

[2018-01-08 10:53] kakawait commented on #67
@liyiorg Nice I will release version really soon

I'm happy when everyone are happy :)

[2018-01-08 12:47] liyiorg commented on #70
@kakawait  I am change cas response xml data.
use you say xml data format
[code]

[2018-01-12 07:56] liyiorg commented on #67
@kakawait   When will it be released  0.6.1-release

[2018-01-12 07:57] kakawait commented on #67
Sorry I get busy i will release it todat

[2018-01-12 08:59] #67 closed

[2018-01-24 07:12] liyiorg opened #72 "CAS logout custom configuration logout success url?"
Hello  , @kakawait
The user logout success default url is  http://cas.mydomain.com/cas/logout.

How configuration logout success ,and go to service url.

Like this:

http://cas.mydomain.com/cas/logout?service=http://www.google.com

Thanks!

[2018-01-24 08:29] kakawait commented on #72
@liyiorg Hi

You are true I keep the default _logout success handler_ that only redirect you on `http://cas.mydomain.com/cas/logout` as describe on documentation https://docs.spring.io/spring-security/site/docs/current/reference/html/cas.html

So you must define your own `LogoutSuccessHandler` you can find sample here

https://github.com/kakawait/cas-security-spring-boot-starter/commit/f25425c7ad8

[2018-04-14 17:03] kakawait opened #74 "Fix Travis Build"

[2018-04-17 07:37] igorhara commented on #32
I tried to use your client in a 2.0.1 spring boot project and it would not compile. IT seems that the package uses some classes that does not exist anymore in version 2 of spring boot.

[2018-04-17 09:48] kakawait commented on #32
@igorhara Thank you for your feedback. Yeah because I was using class that does not exist anymore on SB2.

Roadmap is `RestTemplate` support then I will work on Spring Boot 2 support

[2018-04-20 08:05] igorhara opened #75 "Add extensions to ticket validator"
Add the possibility to extend the ticket validator to do custom things.

The CAS server I am using sends the attributes in custom tags and the default implementation of this api does not recognize them. I am having a hard time to extend the existing ticket validator to be able to parse those fields.

Maybe adding parse handlers would be good.

[2018-04-20 09:04] kakawait commented on #75
@igorhara Thank you for reporting. I'm not totally sure to understand completely your needs. So I have some questions:

Are you aware that you're able to customize and add/configure your own implementation of `org.jasig.cas.client.validation.TicketValidator` which is responsible to validate _ticket_. By registring a _bean_ that implement `org.jasig.cas.client.validation.TicketValidator`.

Because

[2018-04-20 09:08] igorhara commented on #75
I am doing that. But I had to understand all the details on how the api
automatically creates a ticket validator.

And I just need to extend the extractCustomAttributes method to process
custom tags.

[]´s
---------------------------
Igor Harã Serafim

2018-04-20 11:04 GMT+02:00 Thibaud Lepretre <notifications@github.com>:

[2018-04-20 11:03] igorhara commented on #75
That is what I am doing, but I had to read the source code in order to be able to configure my custom TIcketValidator correctly.

[2018-04-20 12:50] kakawait commented on #75
Ok but currently the starter is more about integrating CAS client inside Spring boot & Security app.

I don't mean that this feature request will never resolved but since there are missing few integrations (Spring boot 2, RestTemplate, tests & coverage). To be honest with you, since it's possible to override by yourself the `TicketValidator`, I don't think I will work on that top priority on that

[2018-04-21 12:33] kakawait commented on #74
Fixed with few updates on `.travis-ci.yml`

[2018-04-21 12:33] #74 closed

[2018-04-21 12:34] kakawait opened #77 "Revamp pom.xml to get more common configurations inside parent pom"

[2018-04-21 12:35] kakawait opened #78 "Upgrade dependencies"
Essentially to be conform with security issue reported by Snyk

[2018-04-21 13:59] #72 closed

[2018-04-21 13:59] #77 closed

[2018-04-21 13:59] #78 closed

[2018-04-21 14:15] kakawait opened #81 "Tests & coverage"
- [x] `spring-security-cas-extension` #84
- [x] `cas-security-spring-boot-starter` #91

[2018-04-21 14:37] kakawait opened #82 "Add badges"

[2018-04-24 16:48] Holm78 opened #86 "Unresolved dependency on cas-security-spring-boot-parent 0.7.0"
Latest release 0.7.0 can't be used due to unresolved dependency on cas-security-spring-boot-parent 0.7.0:
Could not resolve all files for configuration ':compileClasspath'.

  Required by:
      project :

           Searched in the following locations:
               https://repo.maven.apache.org/maven2/com/kakawait/cas-security-spring-boot-parent/0.7.0/cas-security-spring-boot-parent-0.7.0.pom

[2018-04-24 16:50] kakawait commented on #86
Thank you. I may understand why, is related to recent refactoring on pom.xml. I will push 0.7.1 soon

[2018-04-24 18:33] kakawait commented on #86
I tried to repush only missing _parent pom_ but still pending on maven central. If nothing in next your I will push new release.

Sorry for that. My local `~/.m2/repository` hide that issue

[2018-04-24 18:36] Holm78 commented on #32
I meet with the same problem using spring boot 2.0.1 - incompatible constructor is used for  instantiation of InMemoryUserDetailsManager.

[2018-04-24 18:37] Holm78 commented on #86
Thank you

[2018-04-24 18:40] kakawait commented on #32
@Holm78 Thank you for feedback. I'm currently working on coverage (see `develop` I finished near 100% for `spring-security-cas-extension`, now missing `cas-security-spring-boot-autoconfigure` module) then I will start working on _Spring boot 2_ support.

Because I think I also will have issue with `SecurityProperties` that has changed from `1` to `2`.

To be honest I hope 1 month to get Spring boo

[2018-04-24 19:09] #86 closed

[2018-04-24 19:09] kakawait commented on #86
@Holm78 I just repushed `0.7.1`. Please wait somes mins / hours to be sure that _central maven_ will be refreshed

[2018-04-25 08:12] Holm78 commented on #86
thank you, it works!

[2018-04-25 08:39] kakawait commented on #86
I may create a new `0.7.2` to fix something on `pom.xml` but as end-user is not worth-it to upgrade because no real change, just cleaning thing on `pom.xml`

[2018-05-09 11:26] kakawait opened #89 "Make CasSecurityCondition public"

[2018-06-04 11:55] liyiorg opened #92 "Spring boot 2 start-up error"
Some class package path changed with <code>spring-boot-starter-security</code> , Can make a branch for spring boot 2 ?

[2018-06-04 12:11] kakawait commented on #92
@liyiorg I'm currently working on SB2 support (see #32). For what I start working on prototyping locally I think I will not create two different branches to managed both versions. But keep only 1 branch that will work for both version (with some reflection tricks to avoid some missing classes or packages).

I will close it in favor of #32

[2018-06-04 12:11] #92 closed

[2018-06-07 17:35] #81 closed

[2018-06-07 17:35] #82 closed

[2018-06-07 17:35] #89 closed

[2018-06-07 17:40] kakawait commented on #32
@igorhara @Holm78 I start working on Spring boot 2 support on #94

Not completely finished but I think you could start trying if you want.

For instance nothing on _maven central_ you have to install with `mvn clean install`

[2018-06-08 12:58] ankitwashere opened #95 "Failed to collect dependencies"
I downloaded a spring boot app from spring initializer. Added the dependency to the POM and now my builds fail. Any idea on how to resolve this ?

Failed to execute goal on project dataAccessRequest: Could not resolve dependencies for project uk.ac.stand:dataAccessRequest:war:0.0.1-SNAPSHOT:

Failed to collect dependencies at com.kakawait:cas-security-spring-boot-starter:jar:0.8.0:

Failed to read

[2018-06-08 13:01] kakawait commented on #95
@ankitwashere Thank you for report. I pushed `0.8.0` yesterday may I miss something. Could you please try with `0.7.1`?

[2018-06-08 13:03] kakawait commented on #95
@ankitwashere Correct there is no `0.8.0` I will try to fix it or I will create `0.8.1` if I can't re-upload on same version

[2018-06-08 13:28] ankitwashere commented on #95
Yea 0.7.1 does not have that issue. thanks 👍

[2018-06-08 13:58] ankitwashere commented on #95
Okay so i can build with both 0.7.1 and 0.6.1 however the application would fail to start on tomcat.

And this is where it is failing. Sorry to bother again, But any help ?

`Failed to introspect annotations on class com.kakawait.spring.boot.security.cas.CasSecurityAutoConfiguration$$EnhancerBySpringCGLIB$$40d11e40: java.lang.ArrayStoreException: sun.reflect.annotation.TypeNotPresentExceptionProxy

[2018-06-08 14:03] kakawait commented on #95
@ankitwashere I never get that issue, which version of Spring Boot do you use?

 and do you have sample application that I can use to reproduce?

[2018-06-08 14:06] kakawait commented on #95
@ankitwashere for `0.8.0` I just pushed on maven central https://oss.sonatype.org/service/local/repositories/releases/content/com/kakawait/cas-security-spring-boot-parent/ but it can make time to be replicated everywhere.

But I don't think it will fix your issue because `0.8.0` is mainly test/coverage version

[2018-06-08 14:12] ankitwashere commented on #95
I got my spring boot set up from https://start.spring.io/
See screenshot link for settings i used. It is very basic. then i added a controller and modified the POM as you can see below. And that is it. I just wanted to use this library to work with CAS.

https://screenshots.firefox.com/HQf4gt67ILJQTweZ/start.spring.io

POM
`<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache

[2018-06-08 14:31] kakawait commented on #95
@ankitwashere Ha yes sure, the Spring Boot 2 support is not totally finished (currently in progress https://github.com/kakawait/cas-security-spring-boot-starter/pull/94).

Solutions:

1. Rollback to Spring Boot 1.5.x
2. Pull branch `feature/spring-boot-2` from https://github.com/kakawait/cas-security-spring-boot-starter/pull/94 and `mvn clean install` then use local version `1.0.0-SNAPSHOT` (but b

[2018-06-08 14:35] ankitwashere commented on #95
Ahh okay...that explains it all.

[2018-06-08 14:46] kakawait commented on #95
@ankitwashere I will use that issue to fix `pom.xml` to do not forget the `parent` next deploy. Thank you for reporting.

I hope I will see you back when `1.0.0` will be out and sorry for delay I didn't find to time to release the same day as Spring Boot 2 was released

[2018-06-09 06:39] #95 closed

[2018-06-18 13:51] ankitwashere opened #98 "Working with GlobalMethodSecurity"
Hi , i am trying to configure my application to work with
http://www.baeldung.com/spring-security-method-security

I was just wondering if i can do something like
security.securedEnabled = true
in the application.properties file to get this working with your CAS library

[2018-06-19 10:14] ankitwashere commented on #98
[code]

Adding that class solved it for me.

However i am now noticing that my spring security context does not have any roles (apart from ROLE_USER)  in the granted authorities for my session. Any idea what i am doing wrong?

[2018-06-20 12:11] ankitwashere commented on #98
[code]

Okay this is a very weird one. I have worked out to get the Roles from ldap and my method "getRoles()" is fetching the correct roles. Now the problem is that my @Secured annotation is not working for any of the roles that i am getting back.

However if i manually add ROLE_USER to the list and then grant ROLE_USER access to the request mapping it works. But it only works for the ROLE_USER

[2018-06-20 14:09] ankitwashere commented on #98
Okay got it all to work. Turns out the application relies on ROLE_USER to be there to access all controllers

[2018-06-20 14:47] kakawait commented on #98
Which version are you using? Latest 0.8.0 or you build the 1.0.0-SNAPSHOT?

[2018-06-25 12:33] ankitwashere commented on #98
Using 0.8.0. Sorry for a late reply.

[2018-06-28 13:51] ankitwashere opened #99 "Enabeling csrf"
Hi, I am having difficulties enabling csrf

I have added
`security.enable-csrf=true `
in properties file. Howeven i think the line 191 in CasHttpSecurityConfigurer.java still gets triggered

Is there a different property that needs to be set ?

[2018-07-02 09:50] kakawait commented on #99
By default application is `CSRF` protected. How do you confirm that `CSRF` is not enable for you? Because last time I tried I get `CSRF` by default

[2018-07-03 09:55] ankitwashere commented on #99
Yea ...i thought so too. But when debugging a controller method i cant seem to find the csrf token. Neither does it appear in header when debugging on the browser.

Below is the code i am using on my controller. I tried with other token names but none worked.

`WebUtils.getCookie(request, "XSRF-TOKEN").getValue();`

any idea?

[2018-07-03 14:17] kakawait opened #100 "Release 1.0.0"
Reminder

- [x] Support Spring boot 2 (#94)
- [x] Remove deprecated (#104)
- [x] Revamp *maven* module name
- [x] Update dependencies
- [x] Create property deprecation for `security.cas.authorize-mode` -> `security.cas.authorization.mode`
- [ ] Update `README.md` (and remove absolute links)
- [x] Add doc for _breaking changes_
- [ ] Edit `TBD` date on `CHANGELOG.md`
- [ ] Rewrite link that point t

[2018-07-03 15:50] kakawait commented on #32
@igorhara @Holm78 @liyiorg @ankitwashere I just upload

[code]

for Spring boot 2 support.

Please checkout https://github.com/kakawait/cas-security-spring-boot-starter/blob/master/CHANGELOG.md for **breaking changes**

(please wait few minutes to be spread over spring central)

[2018-08-23 18:41] rafaelcastrocunha opened #107 "How configuration matches CustomCasSecurityConfiguration HttpSecurity"
[code]

With this configuration, it still requires testService authentication.  Am I implementing correctly? I want this service not to require authentication.

[2018-08-31 02:37] gouldner commented on #107
Do you have a typo ?  "/testServide/**")  doesn't match testService

[2018-09-01 19:57] gouldner opened #108 "Having difficulty combining cas security with in memory auth for external users"
My application has two types of users.  Internal users and external users so I want to combine your starter with a simple login page authentication.

The problem I am having is that this starter doesn't expose the AuthenticationManagerBuilder configure method.
public void configure(AuthenticationManagerBuilder auth)

Since I need to add a second auth mechanism I need access to this configuration.

[2018-09-02 08:03] kakawait commented on #99
@ankitwashere By default _Spring security_ will not include your `CSRF` token on client side, you must include it or use `CookieCsrfTokenRepository` as described in doc https://docs.spring.io/spring-security/site/docs/current/reference/html/csrf.html#csrf-include-csrf-token

[2018-09-02 08:26] kakawait commented on #107
@rafaelcastrocunha could you confirm that is not a typo error as @gouldner suggested ?

[2018-09-02 18:37] gouldner commented on #108
Cool, thanks!

[2018-09-03 11:35] #107 closed

[2018-09-09 12:16] kakawait commented on #108
@gouldner I push something on `develop` could you please try

[code]

And use

[code]

If it's enough for your use case, I'll release `1.0.0-beta-2`

[2018-09-10 04:51] Tyvain opened #110 "Caused by: java.lang.IllegalArgumentException: Pattern cannot be null or empty"
I want to protect every resources in /secured/* but I get this error:
"Pattern cannot be null or empty"

with /** it works, but even my public resources (css, html...) are protected

[code]

[2018-09-10 08:33] kakawait commented on #110
@Tyvain confirmed on `0.8.0` but fixed on `1.0.0-beta-1` if you want quick workaround.

I will fix it on `0.8.1` or `1.0.0` if `1.0.0` get release soon

[2018-09-10 19:48] kakawait commented on #110
@Tyvain new release `0.8.1` will be push tomorrow

Thank you for reporting

[2018-09-10 19:49] Tyvain commented on #110
@kakawait : I see the same bug with the version '1.0.0-beta-1'

[2018-09-10 21:09] kakawait commented on #108
I'll check that. Gimme some days. Thank for piece of code, will help

[2018-09-10 21:11] kakawait commented on #110
Yeah i just saw that. I didn't see the bug because when I tested because of different conf

[2018-09-10 22:03] #110 closed

[2018-09-11 00:01] gouldner commented on #108
Sure, I tried to figure it out myself but I am not fully understanding the way the adapter was implemented so I needed to dig in more and wasn't sure I would implement in a way that could be shared back.  I would like any approach I use to work with the basic code without modification so I know it will keep working as you maintain the package.

The basic idea is I want to have one url that we can

[2018-09-13 15:35] kakawait commented on #108
@gouldner ok by default this `starter` allow mixing auth like you want, because by default you can use basic auth header to authenticate instead of CAS.

But if you would like to create a login form you can't put it on `/login` (by default) because _CAS auth_ is trigger on that path. So you need to put on other path.

I'll be a bit busy this week but I could prepare you a sample for next week with

[2018-09-13 19:07] gouldner commented on #108
Thanks for the added effort.  I tried it out and perhaps I am still doing something wrong but I changed the code I provided above to use /external_login instead of /login

What it does now is allows me to visit /external_login and that lets me login with my currently hard coded, in memory, login and password.  On success this then forwards to /coi however that displays the CAS login page.

Shouldn

[2018-09-14 01:57] gouldner commented on #108
I have it working now!!!!!   Thanks!

I figured out what I needed to add.
This is the code that worked.  Like you said I needed to change the name for my login from /login but doing that was a little more involved then I initially thought.

[code]

[2018-09-14 02:52] gouldner commented on #108
Hold off on this change for a bit.  I am finding my latest changes may work without these modifications.  Need more time for testing.  I will report back when I am sure.

[2018-09-14 03:10] gouldner commented on #108
Extending your class is causing hadRole to stop functioning.

Now I have two authentication methods.   CAS from extending CasSecurityConfigurerAdapter and jdbcAuthentication from adding it as a secondary auth  manager like this.  (which is working with beta-1 code)
[code]

I have not figured out how to use "hasRole" with your class yet but I expected the hasRole method to keep working with jdbcAut

[2018-09-15 02:03] gouldner commented on #108
Looking at the code it seems to me like users should have the user role "ROLE_USER" by default and that is all.  So I don't understand why my application is allowing every user access to the urls I have protected by ADMIN and COIADMIN.

I am also having issues trying to override your beans.
For example I am trying to override
@ConditionalOnMissingBean(AbstractCasAssertionUserDetailsService.class)

[2018-09-17 22:52] gouldner commented on #108
Just to help out I wrote a really simple webapp to demonstrate the issue.
Hope that helps clarify the issue.
https://github.com/gouldner/cas_simple_role_test_app

Note: fails if I switch to Spring Boot 1.5.15-RELEASE and cas-security-spring-boot-starter 0.8.1 also but you have to remove the configureGlobal Autowire for this test as it doesn't play nice with 0.8.1.

Sorry for so many comments, just

[2018-09-18 02:41] gouldner commented on #107
@rafaelcastrocunha This solved my issue with antMatchers also.
For some reason extending CasSecurityConfigurerAdapter breaks all types of matchers.

So I changed to your technique of extending WebSecurityConfigurerAdapter and calling CasHttpSecurityConfigurer.cas().configure(http);

So your original code would have worked the same way if you did this.
[code]

@kakawait is this a bug or by design?

[2018-09-18 10:45] rafaelcastrocunha commented on #107
Thank you @gouldner

[2018-09-19 10:28] lchrennew opened #114 "Securing CORS RestAPI"
Hi,

I want to securing my APIs which are accessed cross domain, so my expected behavior is(e.g.`GET http://my.api/users/me` from `http://my.web/`):

open http://my.web -(fetch API)->
`OPTION http://my.api/users/me` -> `HTTP 200` ->
`GET /users/me` -> `HTTP 403` or `HTTP 401` ->
`location.href='http://my.api/login/cas?return_url=http://my.web/'` ->
`http://my.api/login/cas?return_url=http://my.web

[2018-09-19 19:01] gouldner opened #115 "Where is 1.0.0-beta-1 built from?"
I want to view with the code that was used to build the 1.0.0-beta-1 release.

There is no branch or tag that I can find which was used to build this version.

How can I see the commit used to build this version?

[2018-09-19 19:28] kakawait commented on #115
Is develop. The only diff is version on pom.xml but code is same

[2018-09-19 19:31] kakawait commented on #108
Ouch many thing to read. I'll checkout your issue on friday.

But feel free to open issue if you think is relevant.

[2018-09-19 19:34] gouldner commented on #115
But you added code to develop for the change I requested.  That isn't in 1.0.0-beta-1  correct.

You told me to build develop to test the new features and you would add them to 1.0.0-beta-2 if they worked.

I am finding my code works with 1.0.0-beta-1 (pulled from maven) which should NOT include the change for issue 108 as well as building 1.0.0-SNAPSHOT which does include the changes.

So I am tr

[2018-09-19 19:39] kakawait commented on #115
Yeap sorry i forget. I push manually beta 1 from that last commit fe6f78c7039ed145d62bcd8ea0cdf7035b3b5dfe

[2018-09-19 19:41] kakawait commented on #115
Between beta 1 and Snapshot the only thing i did is fixing NPE and exposing AuthenticationManagerBuilder

[2018-09-19 19:41] kakawait commented on #115
I'll add tag tomorrow because i dont have computer atm

[2018-09-20 11:51] kakawait commented on #115
https://github.com/kakawait/cas-security-spring-boot-starter/releases/tag/1.0.0-beta-1

[2018-09-20 11:51] #115 closed

[2018-11-06 03:52] Georgeqhh opened #116 "Cannot get targetUrl"
nginx :
listen       9001;
location / {
            proxy_pass http://192.168.208.1:8762/main;
        }
when I access localhost:9001,after login,SavedRequestAwareAuthenticationSuccessHandler cannot get the targetUrl so that  redirect to http://192.168.208.1:8762,but what I want is http://192.168.208.1:8762/main

[2018-11-07 14:02] Georgeqhh commented on #116
I acess  localhost:9001 and then nginx will pass to  http://192.168.208.1:8762/main(url1), url1 is required to login,so the application will redirect to http://localhost:8080/cas/login?service=http://192.168.208.1:8762/login.After logining cas,it redirect to http://192.168.208.1:8762/login,but it doesn't carry the the session that I get in accessing localhost:9001 ,so that cannot get the request

[2018-12-05 09:35] kakawait commented on #108
@gouldner I tried your sample, if you want role working with still CAS auth please add `@Order(Ordered.HIGHEST_PRECEDENCE)` on class `SecurityConfiguration`

In order to be proceed before `DefaultCasSecurityConfigurerAdapter`

[2018-12-05 09:39] kakawait commented on #116
@Georgeqhh what is your current `application.{yml/properties}` ? I would like to see your app configuration

[2018-12-05 09:40] kakawait commented on #114
@lchrennew could you be more precise because
I understood that part

[code]

but not

[code]

[2018-12-08 08:11] Georgeqhh commented on #116
security:
  cas:
    server:
      base-url: http://.../cas
      paths:
        login: ${security.cas.server.base-url}/login
    service:
      base-url: http://192.168.208.1:8762
      paths:
        login: /login

[2018-12-17 15:20] kakawait commented on #116
@Georgeqhh

regarding

Why are you not tweaking your RP to

[code]

Because `/main` is part of your external URL

[2019-04-17 12:21] xuande opened #118 "Does it support set `ignorePattern`"

[2019-09-04 07:45] kakawait commented on #118
@xuande could you please add more details? I'm not sure to understand your request

[2019-09-04 07:46] kakawait opened #120 "Integration tests"

[2019-09-05 07:09] #33 closed

[2019-09-05 07:09] #35 closed

[2019-09-05 07:10] #100 closed

[2019-09-05 07:10] #32 closed

[2019-09-10 10:42] xuande commented on #118
The URI in `ignorePattern` does not require authentication

[2019-09-10 11:10] kakawait commented on #118
@xuande there is no built-in property for ignoring (but there is one for selecting path to secure `security.cas.paths` which is default to `/**` aka _everything_).

After it depends what do you mean by ignoring?

1. You don't want CAS authentication
2. You don't want any security filters

Both could be done programmatically

[2019-09-11 00:46] xuande commented on #118
@kakawait Got it. Thanks for your reply.

[2019-09-11 00:46] #118 closed

[2019-10-22 08:05] liyiorg opened #129 "Invalid custom permission validation"
Hello,  I have a service with name 'system1' ， I want limit user mast has permission "SERVICE_SYSTEM_1" , The following code is not valid in version 1.0.0 , But invalid in version 0.8.1。

[code]

Quote    CasLoginSecurityConfiguration
[code]

[2019-10-22 08:41] kakawait commented on #129
@liyiorg

Do you mean *valid* in version 0.8.1 ?

[2019-10-22 09:14] liyiorg commented on #129
@kakawait  Sorry, I am try again, The both version  invalid  .   We have five system integrate CAS , But not all systems can be accessed by users .
I find the default SecurityAuthorizeMode not same in both version.

[2019-10-22 09:15] kakawait commented on #129
@liyiorg do you have small project to test, or if not possible could you please share with me your `security.cas.*` configuration?

[2019-10-22 09:20] liyiorg commented on #129
@kakawait  thanks
[code]

[2019-10-28 06:27] liyiorg commented on #129
@kakawait  I am add a enum for SecurityAuthorizeMode solve this problem, It's name CUSTOM .

[2019-11-11 17:38] gascani opened #130 "Support for Saml11TicketValidator"
Hello, does cas-security-spring-boot-starter supports Saml11TicketValidator?
If not, how could it be implemented?

Thanks,
Giorgio

[2020-01-27 16:49] ramizudd opened #134 "Endpoint which authenticate from CAS Server"
Is there a endpoint or configuration which then let pass username & password to `/login` and it then route the request to CAS server?

[2020-01-31 11:49] kakawait commented on #130
No it does not support out-of-box.

I don't have complete idea how to support it because I never used SAML but you may import `cas-client-support-saml` from official client and configure your own filter and ticket validator using https://github.com/apereo/java-cas-client/tree/master/cas-client-support-saml/src/main/java/org/jasig/cas/client/validation

[2020-01-31 11:50] kakawait commented on #134
@ramizudd CAS is an Single Authentication service that mean Authentication (aka login) must be handle by CAS server.

So no there is no way to do that

[2020-01-31 11:50] #134 closed

[2020-04-26 03:32] guozi opened #142 "Whether it is suitable for front-end projects"
Whether it is suitable for front-end projects

[2020-05-14 14:27] dguerrar opened #143 "Configuration question"
Dear all,

I am trying to integrate this library intro my project. I just add the dependency into my pom and put the following lines in the properties.

security.cas.enabled= true
security.cas.key=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
security.cas.server.base-url=https://XXXXXXXXXXX.com/cas
security.cas.service.base-url=http://localhost:8081
security.cas.server.protocol-version =2

Then, I tried with Pos

[2020-05-15 10:41] dguerrar commented on #143
solved. Error in the request

sorry

[2020-05-15 10:41] #143 closed

[2020-07-18 03:25] kulemeevag commented on #142
Need sample with Vue application or Angular

[2020-09-04 07:46] naisamendoza opened #144 "Proxy Ticket Validator Configuration Property"
Hi,

I was wondering if there is any configuration property to set the proxy ticket validator to false? Because in here, only the proxy chain validation is set.
![image](https://user-images.githubusercontent.com/46772041/92212755-0a7aa800-eec5-11ea-85fa-2aa2f9a0b38b.png)

So in here, the proxyTicketValidator is always null.
![image](https://user-images.githubusercontent.com/46772041/92212932-4f064

[2020-09-04 13:48] kakawait opened #145 "Replace PostConstruct"
To avoid mess with JDK8/JDK11

[2020-09-04 13:58] kakawait opened #146 "Fix JDK11 build"
[code]

[2020-09-04 14:00] #145 closed

[2020-09-04 16:16] kakawait commented on #144
Currently except if you're defining your own bean of type `TicketValidator` thanks to

[code]

I don't see other

[2020-09-04 16:19] #146 closed

[2020-09-04 16:22] kakawait commented on #142
Since login page is hosted on CAS server, there is no specificity for frontend. Every time anonymous user is visiting private page it will be redirected by the backend code to the CAS Server.

Frontend code is not really involve in flow

[2020-09-07 09:15] le-zell opened #147 "Compilation error java-cas-client 3.6.1"
Hi,

With spring boot 2.3.3, spring-security-5.3.4 and cas-client-core-3.6.1 and cas-security-spring-boot-starter-1.0.x

it does NOT compile on line com.kakawait.spring.boot.security.cas.autoconfigure.CasHttpSecurityConfigurer:179.

spring-boot says :

[code]

because of : https://github.com/apereo/java-cas-client/commit/fdc948b8ec697be0ae04da2f91c66c6526d463b5

I comment the line of this java cla

[2020-09-07 12:45] kakawait commented on #147
Thank you for reporting. I'll check if I could remove it without breaking older release. Else I'll have to do some reflection stuff

[2020-11-25 03:59] kulemeevag commented on #142
How i can add some information in redirect response. In jasig.client i can override [DefaultAuthenticationRedirectStrategy ](https://github.com/apereo/java-cas-client/blob/master/cas-client-core/src/main/java/org/jasig/cas/client/authentication/DefaultAuthenticationRedirectStrategy.java). I need set to headers same information for frontend app.

[2020-11-26 15:07] #147 closed

[2020-11-26 17:36] kakawait commented on #142
@kulemeevag did you try creating your own bean of `CasAuthenticationEntryPoint`? You may override `com.kakawait.spring.security.cas.web.RequestAwareCasAuthenticationEntryPoint`

[2021-02-10 18:14] mkaivs opened #152 "[Question] How to extract attributes from XML document return by ticket validation?"
When I checked the list of calls made to CAS server by looking at the [request initiator chain](https://developers.google.com/web/updates/2019/12/devtools#initiators), the first call to the CAS server is made (`https://cas-server-address/cas/login`), but I don't see the second call to the server for ticket validation (i.e., a call to `https://cas-server-address/cas/serviceValidate`) that will retu

[2021-03-23 07:21] wuxie0ne opened #155 "CAS logout custom configuration logout success url ?"
Hi,

The default logout will jump to the home page. How can I set it to jump to other pages?

Thanks!

[2021-03-24 01:33] wuxie0ne commented on #155
https://github.com/kakawait/cas-security-spring-boot-starter/issues/72#issue-291105929
This configuration is not possible.

[2021-04-24 14:43] #155 closed

[2021-04-27 04:19] kulemeevag opened #156 "CAS Proxy Authentication"
Hello!

Try to implement [proxy authentication](https://apereo.github.io/cas/5.2.x/installation/Configuring-Proxy-Authentication.html).

I have Apereo CAS Server on another machine in my network. In my app(on my local machine) i use your starter. My config is:
[code]
***casCallback*** method is:
[code]
I create bean with interceptor for RestRemplate(used from documentation):
[code]
When i send req

[2021-04-27 07:33] kakawait commented on #156
@kulemeevag you should not define your own endpoint

[code]

because is already managed by a `CAS` filter

Can you please retry without?

[2021-04-27 08:36] kulemeevag commented on #156
@kakawait, indeed there is no need to implement an endpoint. I remove implementation for **casCallback** and received proxyGrantingTicket:PGTIOU-74-********************cas. But ProxyGrantingTicketStorage cache is still empty.

[2021-04-27 08:54] kakawait commented on #156
I don't see anything wrong. Do you have some sample project to let me dig on problem?

[2021-04-27 17:17] kulemeevag commented on #156
Create sample [repository](https://github.com/kulemeevag/cas-proxy-flow). But unfortunately I can't provide the CAS Server.

CAS Server (**v.5.2.6**) registered service from JSON file:
[code]

[2021-05-06 21:49] kakawait commented on #156
@kulemeevag proxy call back setting must be a path, otherwise it will fail because of https://github.com/spring-projects/spring-security/blob/main/cas/src/main/java/org/springframework/security/cas/web/CasAuthenticationFilter.java#L293

If you add url that will generate ant path `/**http://my_local_machine_IP:8081/casCallback` that will not works as expected

Can you please try with

[code]

if no

[2021-05-13 03:54] kulemeevag commented on #156
@kakawait, thanks for your answer.

I did this before your answer. Deploy 2 war to Tomcat on my server. On server app generate proxy ticket. This code work fine:
[code]
But then I send request from first app to second app in response I see 401 error. If I added this properties to my **application.yml**:
[code]
Then proxy flow work fine. This my properties:
[code]
Now i have 2 problems:

1. How wor

[2021-07-06 13:48] zematrix opened #158 "Problem with Logout"
Hi,

I'm using 1.0.6 version.

I configured my application with these three entries

[code]

The only other config i have is related to CORS.

[code]
Everything works perfectly, except when i want to trigger logout. Calling my application's url with the `/logout` path returns me a 404.

Trying to explicitly set the logout url as `security.cas.service.paths.logout=/logout' still doesn't work.

What

[2021-07-06 13:55] kakawait commented on #158
By default spring logout is on `POST` and not `GET`

Can you please test with such configuration https://github.com/kakawait/cas-security-spring-boot-starter/blob/master/cas-security-spring-boot-sample/src/main/java/com/kakawait/sample/CasSecuritySpringBootSampleApplication.java#L127 ?

[2021-07-06 15:03] zematrix commented on #158
Solid!! That solved my problem.

Thank you.

[2022-07-01 11:20] mmaccari opened #161 "Use springboot 2.7.0+ with SecurityFilterChain instead of deprecated WebSecurityConfigurerAdapter"
When upgrading my applications to springboot 2.7.0 and using SecurityFilterChain  instead of deprecated WebSecurityConfigurerAdapter I get an error message.

`Caused by: org.springframework.beans.BeanInstantiationException: Failed to instantiate [javax.servlet.Filter]: Factory method 'springSecurityFilterChain' threw exception; nested exception is java.lang.IllegalStateException: Found WebSecurity

[2022-07-13 13:08] kakawait commented on #158
Great

[2022-07-13 13:08] #158 closed

[2022-10-17 08:59] kakawait commented on #161
I've started working on subject through https://github.com/kakawait/cas-security-spring-boot-starter/tree/support-spring-boot-2.7

Mostly working, but few breaking changes. Thus I've to do more documentations and migration path

[2022-10-17 09:01] kakawait commented on #152
`/cas/serviceValidate` is server to server call, thus you can't see inside user-agent.

You could use `AttributePrincipalImpl` and get attributes